{% extends 'base.html.twig' %}

{% block title %}{% trans %}reg.title{% endtrans %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>{% trans %}reg.title{% endtrans %}</h1><hr>

    {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}
    {{ form_end(registrationForm) }}

    <style>
        #registration_form>* {
            margin-bottom: 8px;
            margin-right: 8px;
        }

        .form-group:last-of-type {
            grid-column-start: 1;
        }

        #registration_form {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
        }
    </style>
{% endblock %}
